/*----------------Button color---------------------*/
/* Couleur principale */
.btn-primary, .accordion-button:not(.collapsed), .btn-primary:disabled {
    background-color: var(--button-color);
    border-color: var(--button-color);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: var(--button-color);
    border-color: var(--button-color);
}

/* Couleur secondaire */
.btn-secondary {
    background-color: var(--second-button-color);
    border-color: var(--second-button-color);
}

/* Couleur de succès */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

/* Couleur de danger */
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.text-primary, .nav-link, .nav-link:active, .nav-link:hover, .btn-link, .btn-link:active, .btn-link:hover, .btn-link:focus, .btn-link:visited, .btn-link:focus, .btn-link:visited {
    color: var(--button-color) !important;
}

/*----------------Input color---------------------*/
.input-group-text {
    background-color: var(--button-color);
    border-color: var(--button-color);
}

.form-control:focus {
    background-color: var(--second-button-color);
    border-color: var(--button-color);
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.form-control {
    border-color: var(--second-background-color);
    background-color: var(--second-background-color);
}

.form-label {
    color: var(--button-color);
}

.form-select {
    background-color: var(--second-background-color);
    border-color: var(--second-background-color);
}

/*----------------Accordion color---------------------*/


/* Custom Accordion Header Color */
.accordion-header {
    background-color: var(--second-background-color);
    color: var(--button-color);
}

/* Custom Accordion Body Color */
.accordion-body {
    background-color: var(--second-background-color);
    color: var(--button-color);
}

/* Custom Accordion Header Color when collapsed */
.accordion-header.collapsed {
    background-color: var(--second-background-color);
    color: var(--button-color);
}

.accordion-button.collapsed {
    background-color: var(--third-background-color);
    /* color: var(--button-color);*/
}